@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  background: rgb(245, 245, 245);
  font: 14px/1.4 'Roboto', sans-serif;
}
.header{
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.landing-greed{
  min-height: 100vh;
  text-align: center;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.title-portfolio{
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.title-portfolio:hover .react-logo{
  transition: .3s ease-out;
  color: rgb(0, 204, 255);
}
.react-logo{
  margin: 0 10px 0 0;
  font-size: 2rem;
}
.nav-ico{
  font-size: 1.5rem;
  margin: 0 10px;
}
.nav-bar-item:hover .nav-ico{
  transition: .3s ease-out;
  color: rgb(0, 204, 255);
}
.react-pic{
  height: 350px;
  margin: 60px 0 0 0;
  padding: 20px 0 0 0;
}
.banner-text{
  background: rgba(0, 0, 0, .4);
  margin: auto;
  width: 60%;
  color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.banner-text h1{
  font-weight: bold;
  font-size: 5rem;
  border-bottom: 8px dotted whitesmoke;
}
.banner-text p{
  font-size: 2rem;
}
.thema-ico{
  margin: 5px 0;
  padding: 0 10px;
}
.thema-ico-logo{
  font-size: 2rem;
}
.social-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
}
.social-links a{
  color: whitesmoke;
  font-size: 5rem;
}
.cell-grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about-me{
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px 0;
  text-align: center;
}
.about-me h1{
  display: inline-block;
  font-weight: 700;
  color: whitesmoke;
  border-bottom: 5px solid whitesmoke;
}
.about-me h2{
  margin: 0;
  padding: 10px 0;
}
.about-me img{
  width: 100%;
  height: auto;
}
.about-me p{ 
  text-align: justify;
  font-size: 20px;
  font-weight: 500; 
  display: block;
  margin: 20px auto;
}
.card-about-me{

  color: whitesmoke;
  padding: 30px;
  border-radius: 10px;
  margin: auto;
  width: 40%;
  background: rgba(0, 0, 0, 0.1);
}